

h1 {
	font-family: Arial;
	color: blue;
	font-size: 32;
}

h2 {
	font-family: Arial;
	color: black;
	font-size: 24;
}

.summary {
		margin: 15px 15px 15px 10px;
		font-family: Arial;
		font-size: 24;
		}

p {
	font-family: Arial;
	line-height: 1;
	font-size: 16;
}

